@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
    padding: 0;
    margin: 0;
}

body { /* Aqui é pra resolver um bug que tava criando mais espaço do lado da pagina por causa das imagens ultrapassando, ai essa linha de codigo faz com que caso algo ultrapasse o limite, ele apenas corte, e nao crie mais espaço. */
    overflow-x: hidden;
}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    
    background-color: rgba(255, 255, 255, 0.247);
    border-color: white;
    border-radius: 50px;
    width: 90%;
    height: 82px;
    
    border: 1px solid rgba(255, 255, 255, 0.685);
    
    padding: 5px 20px;
}   

.menu a {
    color: white;
    font-family: 'Inter';
    font-size: 33px;
    font-weight: 700;
    text-decoration: none;
}

.menu a:hover {
    color: rgba(212, 212, 212);
    text-decoration: underline;
}

.menu p {
    margin: 0 20px;
}

#logo{
    width: 239px;
    height: 73px;
    object-fit: cover;
}
.fundo_gradiente {
    background: linear-gradient(to top right,#2dbdc5 0%, #30196b 100%);
    height: 780px;
    width: 100%;
    
    padding-top: 20px;
    box-sizing: border-box;
}

.titulo h1 {
    color: white;
    font-family: 'Inter';
    text-align: left;
    position: relative;
    top: 200px;
    left: 160px;
    font-size: 110px;
}

.titulo h2 {
    color: white;
    font-family: 'Inter';
    position: relative;
    top: 250px;
    left: 165px;
    width: 50%;
}

.titulo img {
    position: relative;
    bottom: 180px;
    left: 1175px;
}

 .intro { /*Aqui é pra resolver um bug que tava dando no fundo_bolhas, o corpo precisa ter o position relative, para a imagem com position absolute possa entrar na div :) */
    position: relative;
}

.intro h1 {
    font-size: 100px;
    font-weight: 900;
    color: transparent;
    font-family: 'Inter';
    background: linear-gradient(to right, #2e9bb2 0%, #2f538d 100%);
    -webkit-background-clip: text;
    background-clip: text;
    width: fit-content;
    margin-left: 48px;
    margin-bottom: 50px;
}
.intro p {
    font-family: 'Inter';
    margin-left: 79px;
    font-size: 32px;
    width: 50%;
    margin-bottom: 50px;
}
.intro #p2 {
    font-family: 'Inter';
    margin-left: 79px;
    font-size: 32px;
    width: 57%;
}
.fundo_bolas {
    position: absolute;
    right: 0;
    top: -87px;

    mix-blend-mode: multiply;
}   

.corpo .cima h1 {
    font-family: 'Inter';
    font-size: 64px;
    font-weight: 800;
    margin-left: 4%;
}
.corpo .cima p {
    font-family: 'Inter';
    font-size: 32px;
    width: 45%;
    margin-left: 5%;
}
.corpo .cima img {
    display: flex;
    margin-left: auto;
}
.corpo .baixo h1 {
    font-family: 'Inter';
    font-size: 64px;
    font-weight: 800;
    margin-left: auto;
    text-align: right;
    margin-right: 4%;
    margin-top: 2%;
}

.corpo .baixo p {
     font-family: 'Inter';
    font-size: 32px;
    width: 45%;
    margin-left: auto;
    text-align: right;
    margin-right: 5%;
    
}