/* font inter ass:jota */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body { /*reciclei isso do sobrenos.css*/
    overflow-x: hidden;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo-header {
  height: 100px;
  display: block;
}

/* Header feito ass: jota */
.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    
    background-color: rgba(255, 255, 255, 0.247);
    border-color: white;
    border-radius: 50px;
    width: 90%;
    height: 82px;
    
    border: 1px solid rgba(255, 255, 255, 0.685);
    
    padding: 5px 20px;
}

/* nav é como se fosse uma div só que mais recomendado para a navegação de paginas */
/* organizacao dos elementos dentro do header */
.nav-links-header {
  display: flex;
  gap: 100px;
}

.nav-links-header a{
  font-size: 30px;
  font-weight: 700;
  color: white;
  text-decoration: none;
}

.nav-links-header a:hover{
 opacity: 50%;
}

/* textos da pagina em ordem de hierarquia ass: jota*/
#texto-principal{
  display: flex;
  font-family: "Inter";
  color: #ffff;
}

#descricao {
  color: #ffff;
  font-family: "Inter";
}


.caixa-principal{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  max-width: 600px;
  margin-bottom: 20px;
  margin-right: 450px;
  gap: 10px;

}
body {
  background: linear-gradient(135deg, #20b9c4 0%, #2874a8 50%, #252b72 100%);
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
}

#botao-amplia{
  width: 200px;
  height: 50px;
  color: white;
  text-align: center;
  background-color: #30347B ;
  border-radius: 50px;
  box-shadow: none;
  outline: none;
  border: none;
}

#botao-amplia:active{
  width: 200px;
  height: 50px;
  color: white;
  text-align: center;
  background-color: hsl(237, 42%, 20%) ;
  border-radius: 50px;
  box-shadow: none;
}

.secao-principal {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.midpage {
    background-color: white;
    position: relative;
    width: 100%;
    padding: 80px 0;
}

footer {
  width: 100%;
  max-width: 100px;
  margin: 0 auto;
  padding: 30px 20px;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  gap: 30px;
}

#logo {
    align-items: right;
    width: 239px;
    height: 73px;
    object-fit: cover;
}

.textos-intro {
    width: 90%;
    max-width: 1300px;
    margin: 0 auto; /*centralizar */
}

.textos-intro h1 {
    font-size: clamp(40px, 5vw, 70px);
    font-weight: 900;
    color: transparent;
    font-family: 'Inter';
    background: linear-gradient(to right, #2e9bb2 0%, #2f538d 100%);
    -webkit-background-clip: text;
    background-clip: text;
    margin-bottom: 20px;
    margin-top: 40px;
}

.textos-intro p {
    font-family: 'Inter';
    font-size: clamp(18px, 1.8vw, 24px);
    width: 60%;
    line-height: 1.6;
    color: black;
}


.fundo_bolas {
    position: absolute;
    right: 0;
    height: 100%;
    top: 0px;
    z-index: 1; /*pra imagem ficar atras do texto, tipo camadas */
    mix-blend-mode: multiply; /*tipo um overlay */
}

.corpo .cima h1 {
    font-family: 'Inter';
    font-size: 64px;
    font-weight: 800;
    margin-left: 4%;
}
.corpo .cima p {
    font-family: 'Inter';
    font-size: 32px;
    width: 45%;
    margin-left: 5%;
}
.corpo .cima img {
    display: flex;
    margin-left: auto;
}
.corpo .baixo h1 {
    font-family: 'Inter';
    font-size: 64px;
    font-weight: 800;
    margin-left: auto;
    text-align: right;
    margin-right: 4%;
    margin-top: 2%;
}

.corpo .baixo p {
    font-family: 'Inter';
    font-size: 32px;
    width: 45%;
    margin-left: auto;
    text-align: right;
    margin-right: 5%;

}
.footer-textos a {
    color: white;
    font-family: 'Inter';
    font-size: 22px;
    font-weight: 300;
    text-decoration: none;
}

.footer-textos a:hover {
    color: rgba(212, 212, 212, 0.412);
}


#Button-login:active{
  width: 90%;
  height: 40px;
  color: white;
  text-align: center;
  background-color: rgba(212, 212, 212, 0.412);
  border-radius: 50px;
  box-shadow: none;
}
#Button-login {
    background-color: rgba(255, 255, 255, 0.247);
    border-color: white;
    border-radius: 50px;
    width: 90%;
    height: 40px;

    border: 1px solid rgba(255, 255, 255, 0.685); margin-left: auto;
    margin-right: auto;
    margin-top: 20px;

    padding: 5px 20px;

}

#Button-cadastro:active{
  width: 90%;
  height: 40px;
  color: white;
  text-align: center;
  background-color: rgba(212, 212, 212, 0.412);
  border-radius: 50px;
  box-shadow: none;
}
#Button-cadastro {
    background-color: rgba(255, 255, 255, 0.247);
    border-color: white;
    border-radius: 50px;
    width: 90%;
    height: 40px;

    border: 1px solid rgba(255, 255, 255, 0.685); margin-left: auto;
    margin-right: auto;
    margin-top: 20px;

    padding: 5px 20px;

}
