/* font inter ass:jota */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo-header {
  height: 100px;
  display: block;
}

/* Header feito ass: jota */
.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    
    background-color: rgba(255, 255, 255, 0.247);
    border-color: white;
    border-radius: 50px;
    width: 90%;
    height: 82px;
    
    border: 1px solid rgba(255, 255, 255, 0.685);
    
    padding: 5px 20px;
}

/* nav é como se fosse uma div só que mais recomendado para a navegação de paginas */
/* organizacao dos elementos dentro do header */
.nav-links-header {
  display: flex;
  gap: 100px;
}

.nav-links-header a{
  font-size: 30px;
  font-weight: 700;
  color: white;
  text-decoration: none;
}

.nav-links-header a:hover{
 color: rgba(212, 212, 212);
 text-decoration: underline;
}

/* textos da pagina em ordem de hierarquia ass: jota*/
#texto-principal {
  display: flex;
  font-family: "Inter";
  color: #ffff;
}

#descricao {
  color: #ffff;
  font-family: "Inter";
}

body {
  background: linear-gradient(135deg, #20b9c4 0%, #2874a8 50%, #252b72 100%);
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
}

#botao-amplia{
  width: 446px;
  height: 69px;
  color: white;
  text-align: center;
  background-color: #30347B ;
  border-radius: 50px;
}

.secao {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

footer {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}


